.header__container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid var(--border-color) ;
    background: #FFF;
    z-index: 10;
}

.header__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 150px;
    height: 30px;
    position: relative;
}

.header__logo::after {
    position: absolute;
    top: 0;
    right: -20px;
    content: '';
    width: 1px;
    height: 25px;
    background: var(--border-color);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__date{
    margin-left: 35px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.header__left{
    display: flex;
    justify-content: start;
    align-items: center;

}

.btn__header{
    height: 32px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 14px;
    color: var(--text-color);
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.header__middle__text{
    font-size: 14px;
    color:var(--text-color);
}

.header__logoInter{
    height: 100%;   
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.icon{
    color:var(--text-color);
    font-size: 18px;
}

.logo{
    height: 16px;
    width: 16px;
    object-fit: cover;
}


.header__search{
    width: 160px;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    margin: 0px 15px;
}

.header__search::after {
    position: absolute;
    top: 3px;
    left: -15px;
    content: '';
    width: 1px;
    height: 25px;
    background: var(--border-color);
}


input{
    outline: none;
    border: none;
    background: transparent;
    height: 32px;
    line-height: 32px;
    padding: 0 30px 0 14px;
    margin: 0;
    width: 160px;
    font-size: 15px;
}

.header__inputIcon{
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__user{
    display: flex;
}

.header__userIcon{
    height: 16px;
    width: 16px;
    color: var(--text-color);
}

.header__right__icon{
    display: none;
}

.header__userText{
    margin-left: 5px;
    font-size: 15px;
    color: (--text-color);
    cursor: pointer;
}

.header__userText:hover{
    color: var(--text-primary);
}


  @media screen and (max-width: 1120px) {
    .header__container{
        position: fixed;
        top:0;
    }
    .header__left{
        padding-right: 30px;
    }
    .header__right__icon{
        display: block;
    }
    .header__date{
        display: none;
    }

    .header__logo::after {
        display: none;
    }
  }

  @media screen and (max-width: 980px) {
    .header__search{
        display: none;
    }
    
  }

  @media screen and (max-width: 600px) {
    .header__left{
        display: none;
    }
  }


