.intro__container {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 10px;
  max-height: 560px;
  height: 100%;
  border-bottom: 2px solid var(--border-color);
}
.intro__left {
  width: 100%;
}

.content__top {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #eeeded;
}

.content__top__right {
  padding: 20px 10px 20px 20px;
}

.content__top__img {
  width: 520px;
  height: 310px;
}

.content__bottom {
  margin: 20px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.content:nth-child(3) {
  position: relative;
  margin-left: 15px;
}

.content:nth-child(3)::after {
  position: absolute;
  content: "";
  top: 0;
  left: -20px;
  width: 2px;
  height: 190px;
  background-color: var(--border-color);
}

h6 {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--text-purple);
}

.author {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 15px;
  font-weight: 400;
  color: #757575;
  font-style: italic;
}

.autho__img {
  width: 60px;
  height: 60px;
  border-radius:50%;
  overflow: hidden;
}

.intro__right {
  width: 100%;
}
