.podcasts__container{
    width: 100%;
    position: relative;
    margin-top: 10px;
    
}

.podcasts__title:hover{
    color: var(--text-purple);
}

.podcasts__content{
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px
}

.podcasts__content__item{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.podcasts__content__item:nth-child(1)::after,
.podcasts__content__item:nth-child(2)::after{
    position:absolute;
    top: 5px;
    right: -22px;
    height: 100%;
    width: 2px;
    content: "";
    background: var(--border-color);
}

.podcasts__content__right{
    width: 70%;
    float: left;
}

.podcasts__content__img{
    margin-top: 5px;
    width: 30%;
    float:right;
    position: relative;
}

.podcasts__content__img img{
    float: right;
    height: 90px;
    width: 90px;
}

.podcasts__content__icon{
    position: absolute;
    bottom: 5px;
    left: 20px;
    height: 25px;
    width: 25px;
    background: rgba(0,0,0,.5);
    font-size: 18px;
    color:#fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1120px) {
    .podcasts__container{
        width: 97%;
    }
    .podcasts__content__right{
        width: 65%;
        
    }

    .podcasts__content__img{
        width: 35%;
    }

  }
  
  @media screen and (max-width: 980px) {
    .podcasts__content__right{
        width: 65%;
        
    }

    .podcasts__content__img{
        width: 30%;
    }
    .podcasts__content__img img{
        float: right;
        height: 60px;
        width: 60px;
    }
   
  }
  
  @media screen and (max-width: 580px) {
    .podcasts__content{
        grid-template-rows: 1fr;
    }
    .podcasts__content__right{
        width: 100%;
    }
    
    .podcasts__content__img{
        width: 100%;
    }

    .podcasts__content__icon{
        position: absolute;
        bottom: 5px;
        left: 100px;
        height: 25px;
        width: 25px;
        background: rgba(0,0,0,.5);
        font-size: 18px;
        color:#fff;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
  }