@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300&family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}

:root{
  --border-color:#e5e5e5;
  --text-color: #757575;
  --text-primary:#087cce;
  --text-purple:#9f224e;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 1;
}

ul,li{
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  color: #222222;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 17px;
  font-weight: 500;
  color: #222222;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

h4:hover{
  cursor: pointer;
  color:var(--text-primary);
}

.container{
  width: 100%;
  max-width: 1100px;
  max-height: fit-content;
  padding: 0 15px;
  margin: 0 auto;
}

.discription {
  font-size: 14px;
  color: #222222;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.titleActive{
  font-size: 18px !important;
  color: #222222 !important;
  border-bottom: 1px solid var(--text-purple);
  font-weight: 600;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.titleActive:hover{
  border-color: var(--text-primary) ;
  color: var(--text-primary) !important;
}

.title{
  font-size: 18px ;
  color: #222222;
  width: max-content;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--text-purple);
  font-weight: 600;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.title:hover{
  color: var(--text-purple);
  transition: all 0.4s ease;
}